@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --red:#E50914;
    --black:#000000;
    --light-color:#181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
}



header{
    top: 0;
    left:0;
    right:0;
    padding: 1rem 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    background-color: var(--light-color);
}

header .logo{
    color: #fff;;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--red);

}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

.section{
    width: 100%;
    padding: 40px  80px;

}

.section h3{
    font-size: 50px;
    line-height: 64px;
    color: #222;
    text-align: center;
}

form{
    margin-bottom: 8%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid aquamarine;
    border-radius: 6px;
    width: 350px;
}

input , textarea, select{
    margin-bottom: 7px;
    padding: 10px;
    resize: none;
    outline: 0;
    border-radius: 6px;

}